<p>
  Bootstrap style
  <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-star"></span> Star
  </button>
</p>

<p>
  Yellow Content
  <%= image_tag "yellow/image.jpg" %>
</p>